<div id="addQuestionModal" class="modal">
  <div class="modal-wrap modal-center">
    <div class="modal-header">
      <h6 class="modal-title">{{!config ? 'Add' : 'Edit' }} Question</h6>
      <button data-modal-close="addQuestionModal" class="link link-red" (click)="close()">
        <lucide-angular name="x" class="size-5"></lucide-angular>
      </button>
    </div>
    <div class="modal-content">
      <form action="javascript: void(0);" [formGroup]="fromGroup">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12">
            <label for="questionInput" class="form-label">Question</label>
            <input type="text" id="questionInput" class="form-input" placeholder="Enter question"
              formControlName="question">
            <span *ngIf="fromGroup.get('question')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="option1Input" class="form-label">Option 1</label>
            <input type="text" id="option1Input" class="form-input" placeholder="Option one" formControlName="op1">
            <span *ngIf="fromGroup.get('op1')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="option2Input" class="form-label">Option 2</label>
            <input type="text" id="option2Input" class="form-input" placeholder="Option two" formControlName="op2">
            <span *ngIf="fromGroup.get('op2')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="option3Input" class="form-label">Option 3</label>
            <input type="text" id="option3Input" class="form-input" placeholder="Option three" formControlName="op3">
            <span *ngIf="fromGroup.get('op3')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="option4Input" class="form-label">Option 4</label>
            <input type="text" id="option4Input" class="form-input" placeholder="Option four" formControlName="op4">
            <span *ngIf="fromGroup.get('op4')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="itemTypeSelect" class="form-label">Item Type</label>
            <ng-select class="filter-ng-select" [items]="itemOptions" bindLabel="label" bindValue="value"
              placeholder="Select Item Type" formControlName="type">
            </ng-select>
            <span *ngIf="fromGroup.get('type')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="difficultLevelSelect" class="form-label">Difficult Level</label>
            <ng-select class="filter-ng-select" [items]="difficultLevelOptions" bindLabel="label" bindValue="value"
              placeholder="Select Type" formControlName="difficulty">
            </ng-select>
            <span *ngIf="fromGroup.get('difficulty')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-12">
            <label for="statusSelect" class="form-label">Status</label>
            <ng-select class="filter-ng-select" [items]="statusOptions" bindLabel="label" bindValue="value"
              placeholder="Select Status" formControlName="status">
            </ng-select>
            <span *ngIf="fromGroup.get('status')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
        </div>
        <div class="flex items-center justify-end gap-2 mt-5">
          <button type="button" class="btn btn-active-red" data-modal-close="addQuestionModal" (click)="closeModal()">
            <lucide-angular name="x" class="inline-block size-4"></lucide-angular>
            <span class="align-baseline">Close</span>
          </button>
          <button type="button" class="btn btn-primary" (click)="closeModal()">{{!config ? 'Add' : 'Edit' }}
            Question</button>
        </div>
      </form>
    </div>
  </div>
</div>
