<app-page-title [pageTitle]="'Ui'" [Title]="'Simplebar'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Default Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options">
        <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
          the specific needs and functionalities of the system you're administering. Here's a general outline of the
          content and features you might include in an admin dashboard:</p>
        <h6 class="mb-2">User Management:</h6>
        <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
          <li>Ability to view all users registered in the system.</li>
          <li>Options to add, edit, or delete users.</li>
          <li>Permissions management to control access levels for different users or user groups.</li>
          <li>User activity logs to track user actions within the system.</li>
        </ul>
        <h6 class="mb-2">Content Management:</h6>
        <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
          <li>Interface to manage various types of content (e.g., articles, products, events).</li>
          <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
          <li>Workflow management for content approval processes if necessary.</li>
          <li>Content categorization and tagging features.</li>
        </ul>
      </ngx-simplebar>
    </div>
  </div>


  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Primary Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="primaryOptions" data-simplebar-scroll="primary">
        <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
          the specific needs and functionalities of the system you're administering. Here's a general outline of the
          content and features you might include in an admin dashboard:</p>
        <h6 class="mb-2">User Management:</h6>
        <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
          <li>Ability to view all users registered in the system.</li>
          <li>Options to add, edit, or delete users.</li>
          <li>Permissions management to control access levels for different users or user groups.</li>
          <li>User activity logs to track user actions within the system.</li>
        </ul>
        <h6 class="mb-2">Content Management:</h6>
        <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
          <li>Interface to manage various types of content (e.g., articles, products, events).</li>
          <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
          <li>Workflow management for content approval processes if necessary.</li>
          <li>Content categorization and tagging features.</li>
        </ul>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Green Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="green">
        <div class="h-64">
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Purple Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="purple">
        <div>
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Yellow Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="yellow">
        <div>
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Red Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="red">
        <div>
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Sky Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="sky">
        <div>
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 xl:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Pink Simplebar</h6>
    </div>
    <div class="card-body">
      <ngx-simplebar class="h-64 -mx-space px-space" [options]="options" data-simplebar-scroll="pink">
        <div>
          <p class="mb-3 text-gray-500 dark:text-dark-500">Creating an admin dashboard requires careful consideration of
            the specific needs and functionalities of the system you're administering. Here's a general outline of the
            content and features you might include in an admin dashboard:</p>
          <h6 class="mb-2">User Management:</h6>
          <ul class="flex flex-col gap-2 mb-3 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Ability to view all users registered in the system.</li>
            <li>Options to add, edit, or delete users.</li>
            <li>Permissions management to control access levels for different users or user groups.</li>
            <li>User activity logs to track user actions within the system.</li>
          </ul>
          <h6 class="mb-2">Content Management:</h6>
          <ul class="flex flex-col gap-2 text-gray-500 list-disc list-inside dark:text-dark-500">
            <li>Interface to manage various types of content (e.g., articles, products, events).</li>
            <li>CRUD (Create, Read, Update, Delete) operations for content items.</li>
            <li>Workflow management for content approval processes if necessary.</li>
            <li>Content categorization and tagging features.</li>
          </ul>
        </div>
      </ngx-simplebar>
    </div>
  </div>

</div>
