<app-page-title [Title]="'Scatter Charts'" [pageTitle]="'Apexcharts'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Basic</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="scatterChart.series" [chartOptions]="scatterChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Scatter – Datetime</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="datetimeScatterChart.series" [chartOptions]="datetimeScatterChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Scatter – Images</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="imagesScatterChart.series" [chartOptions]="imagesScatterChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

</div>
