<div class="card">
  <div class="card-header">
    <h6 class="grow mb-3 md:mb-0 text-primary-700">Listado de Facturas</h6>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="text-center text-primary-700 font-semibold">Cargando...</div>
    <div class="overflow-x-auto" *ngIf="!loading">
      <table class="table flush">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturas">
            <td>{{ factura.id }}</td>
            <td>{{ factura.clientName }}</td>
            <td>{{ factura.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
