<app-page-title [pageTitle]="'Ui'" [Title]="'UI Links'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Basic Links</h6>
    </div>
    <div class="flex flex-wrap items-center gap-3 card-body">
      <a href="javascript:void(0);" class="link link-primary">Basic Links</a>
      <a href="javascript: void(0);" class="text-gray-800 link dark:text-dark-50 hover:text-primary-500 dark:hover:text-primary-500">Basic Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Underline Links</h6>
    </div>
    <div class="flex flex-wrap items-center gap-3 card-body">
      <a href="javascript:void(0);" class="underline link link-primary">Basic Underline Links</a>
      <a href="javascript: void(0);" class="text-gray-800 underline link dark:text-dark-50 hover:text-primary-500 dark:hover:text-primary-500">Basic
        Underline Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Underline Hover Links</h6>
    </div>
    <div class="flex flex-wrap items-center gap-3 card-body">
      <a href="javascript:void(0);" class="no-underline link link-primary hover:underline">hover Underline Links</a>
      <a href="javascript: void(0);" class="text-gray-800 no-underline link hover:underline dark:text-dark-50 hover:text-primary-500 dark:hover:text-primary-500">Hover
        Underline Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Hover Links</h6>
    </div>
    <div class="flex flex-wrap items-center gap-3 card-body">
      <a href="javascript:void(0);" class="underline link link-primary hover:no-underline">hover No Underline Links</a>
      <a href="javascript: void(0);" class="text-gray-800 underline link hover:no-underline dark:text-dark-50 hover:text-primary-500">hover No
        Underline Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Colored Links</h6>
    </div>
    <div class="flex flex-col gap-3 card-body">
      <a href="javascript:void(0);" class="link link-primary">Primary Basic Links</a>
      <a href="javascript:void(0);" class="link link-purple">Purple Basic Links</a>
      <a href="javascript:void(0);" class="link link-green">Green Basic Links</a>
      <a href="javascript:void(0);" class="link link-red">Red Basic Links</a>
      <a href="javascript:void(0);" class="link link-yellow">Yellow Basic Links</a>
      <a href="javascript:void(0);" class="link link-sky">Sky Basic Links</a>
      <a href="javascript:void(0);" class="link link-pink">Pink Basic Links</a>
      <a href="javascript:void(0);" class="link link-indigo">Indigo Basic Links</a>
      <a href="javascript:void(0);" class="link link-orange">Orange Basic Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Underline Colored Links</h6>
    </div>
    <div class="flex flex-col gap-3 card-body">
      <a href="javascript:void(0);" class="underline link link-primary">Primary Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-purple">Purple Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-green">Green Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-red">Red Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-yellow">Yellow Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-sky">Sky Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-pink">Pink Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-indigo">Indigo Basic Links</a>
      <a href="javascript:void(0);" class="underline link link-orange">Orange Basic Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 card">
    <div class="card-header">
      <h6 class="card-title">Underline Hover Colored Links</h6>
    </div>
    <div class="flex flex-col gap-3 card-body">
      <a href="javascript:void(0);" class="link link-line-primary">Primary Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-purple">Purple Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-green">Green Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-red">Red Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-yellow">Yellow Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-sky">Sky Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-pink">Pink Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-indigo">Indigo Basic Links</a>
      <a href="javascript:void(0);" class="link link-line-orange">Orange Basic Links</a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-12 card">
    <div class="card-header">
      <h6 class="card-title">Icon with Links</h6>
    </div>
    <div class="flex items-center gap-4 card-body">
      <a href="javascript: void(0);" class="link link-primary group/item">
        Read More
        <lucide-angular name="MoveRight" class="inline-block rtl:hidden transition duration-200 ease-linear size-4 group-hover/item:translate-x-0.5">
        </lucide-angular>
        <lucide-angular name="MoveLeft" class="rtl:inline-block transition duration-200 ease-linear size-4 group-hover/item:-translate-x-0.5 ltr:hidden">
        </lucide-angular>
      </a>
      <a href="javascript: void(0);" class="link link-red group/item">
        <lucide-angular name="Trash2" class="inline-block transition duration-200 ease-linear size-4 group-hover/item:animate-bounce">
        </lucide-angular>
        Delete
      </a>
      <a href="javascript: void(0);" class="link link-primary group/item">
        <lucide-angular name="Clipboard" class="inline-block transition duration-200 ease-linear size-4 group-hover/item:-translate-y-0.5">
        </lucide-angular> Copy
        Content
      </a>
    </div>
  </div>
</div>