<app-page-title [Title]="'Default Chat'" [pageTitle]="'Chats'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 2xl:col-span-1 card">

    <ngx-simplebar class="max-h-[calc(100vh_-_13rem)]" [options]="options">
      <div class="flex gap-4 2xl:flex-col *:shrink-0 card-body">
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500 active">
          <img src="assets/images/brands/img-02.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <span>PE</span>
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-06.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-05.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-01.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-07.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-08.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <span>AI</span>
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-09.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-10.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
        <a href="javascript: void(0);" title="link" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-14 hover:ring-2 [&.active]:ring-2 hover:ring-offset-2 dark:hover:ring-offset-dark-900 [&.active]:ring-offset-2 dark:[&.active]:ring-offset-dark-900 hover:ring-primary-500 [&.active]:ring-primary-500">
          <img src="assets/images/brands/img-12.png" alt="" class="rounded-full size-9">
          <span class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 right-1 size-3"></span>
        </a>
      </div>
    </ngx-simplebar>

  </div>
  <div class="col-span-12 xl:col-span-4 2xl:col-span-3 card">
    <div class="card-body">
      <div class="relative group/form">
        <input type="text" [(ngModel)]="searchChat" (ngModelChange)="filterChats()" class="ltr:pl-9 rtl:pr-9 form-input ltr:group-[&.right]/form:pr-9 rtl:group-[&.right]/form:pl-9 ltr:group-[&.right]/form:pl-4 rtl:group-[&.right]/form:pr-4" placeholder="Search for ..." />
        <button title="search btn" class="absolute inset-y-0 flex items-center text-gray-500 ltr:left-3 rtl:right-3 ltr:group-[&.right]/form:right-3 rtl:group-[&.right]/form:left-3 ltr:group-[&.right]/form:left-auto rtl:group-[&.right]/form:right-auto focus:outline-hidden">
          <lucide-angular name="search" class="size-4"></lucide-angular>
        </button>
      </div>
      <div class="py-4">
        <button type="button" (click)="openAddNewChatModals()" class="w-full btn btn-primary">Start New
          Chat</button>
      </div>
      <ngx-simplebar class="max-h-[calc(100vh_-_22.5rem)] -mx-space" [options]="options">
        <ul class="flex flex-col gap-3">
          <ng-container *ngIf="filteredChat.length > 0">
            <ng-container *ngFor="let item of filteredChat; let index = index">
              <li>
                <a href="javascript: void(0);" class="flex items-center gap-2 px-space py-2.5 hover:bg-gray-50 dark:hover:bg-dark-850 [&.active]:bg-primary-500/10 transition ease-linear duration-300 group/item unread" [ngClass]="{'active': isActiveChat(index)}" (click)="setActiveChat(index)">
                  <div class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-10 shrink-0">
                    <img [src]="item.avatar" alt="" class="rounded-full">
                    <span *ngIf="!item.avatar" class="text-sm">{{item.avatarText}}</span>
                    <span class="absolute bottom-0 bg-green-500 border-2 border-white dark:border-dark-900 rounded-full ltr:right-0.5 rtl:left-0.5 size-2.5"></span>
                  </div>
                  <div class="overflow-hidden grow">
                    <h6 class="mb-0.5">{{item.name}}</h6>
                    <p class="text-sm group-[&.unread]/item:font-medium truncate group-[&.unread]/item:text-gray-950 text-gray-500 dark:text-dark-500 dark:group-[&.unread]/item:text-gray-50 unread">
                      {{item.lastMessage}}</p>
                  </div>
                  <div class="ltr:text-right rtl:text-left shrink-0">
                    <p class="mb-1 text-xs text-gray-500 dark:text-dark-500">{{item.timestamp}}</p>
                    <span class="badge-sub-red badge-square size-5" *ngIf="item.unread > 0">
                      {{item.unread}}</span>
                  </div>
                </a>
              </li>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="filteredChat.length == 0">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="mx-auto size-12" viewBox="0 0 48 48">
                <linearGradient id="SVGID_1__h35ynqzIJzH4_gr1" x1="34.598" x2="15.982" y1="15.982" y2="34.598" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#60e8fe"></stop>
                  <stop offset=".033" stop-color="#6ae9fe"></stop>
                  <stop offset=".197" stop-color="#97f0fe"></stop>
                  <stop offset=".362" stop-color="#bdf5ff"></stop>
                  <stop offset=".525" stop-color="#dafaff"></stop>
                  <stop offset=".687" stop-color="#eefdff"></stop>
                  <stop offset=".846" stop-color="#fbfeff"></stop>
                  <stop offset="1" stop-color="#fff"></stop>
                </linearGradient>
                <path fill="url(#SVGID_1__h35ynqzIJzH4_gr1)" d="M40.036,33.826L31.68,25.6c0.847-1.739,1.335-3.684,1.335-5.748c0-7.27-5.894-13.164-13.164-13.164	S6.688,12.582,6.688,19.852c0,7.27,5.894,13.164,13.164,13.164c2.056,0,3.995-0.485,5.728-1.326l3.914,4.015l4.331,4.331	c1.715,1.715,4.496,1.715,6.211,0C41.751,38.321,41.751,35.541,40.036,33.826z">
                </path>
                <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M31.95,25.739l8.086,8.086c1.715,1.715,1.715,4.496,0,6.211l0,0c-1.715,1.715-4.496,1.715-6.211,0	l-4.331-4.331">
                </path>
                <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M7.525,24.511c-1.771-4.694-0.767-10.196,3.011-13.975c3.847-3.847,9.48-4.817,14.228-2.912"></path>
                <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M30.856,12.603c3.376,5.114,2.814,12.063-1.688,16.565c-4.858,4.858-12.565,5.129-17.741,0.814">
                </path>
              </svg>
              <p class="mt-2 text-center text-gray-500 dark:text-dark-500">No matching records found</p>
            </li>
          </ng-container>
        </ul>
      </ngx-simplebar>
    </div>
  </div>
  <div class="col-span-12 overflow-hidden xl:col-span-8 card" id="chat-wrapper">
    <ngx-simplebar class="max-h-[calc(100vh_-_19rem)] min-h-[calc(100vh_-_19rem)] relative chat-body" [options]="options">
      <div class="sticky inset-x-0 top-0 z-50 flex items-center gap-3 border-b border-gray-200 card-body bg-white/30 dark:bg-dark-900/90 dark:border-dark-800 backdrop-blur-lg">
        <div class="xl:hidden shrink-0">
          <button class="btn btn-sub-gray btn-icon" title="back btn">
            <lucide-angular name="ChevronLeft" class="size-5"></lucide-angular>
          </button>
        </div>
        <div *ngIf="selectedData" class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-10 shrink-0">
          <img [src]="selectedData.avatar" alt="" class="rounded-full">
          <span *ngIf="!selectedData.avatar">{{selectedData.avatarText}}</span>
        </div>
        <div class="grow">
          <h6 class="mb-0.5"><a href="javascript: void(0);" class="">{{selectedData.name}}</a></h6>
          <p class="text-gray-500 dark:text-dark-500">Last seen 2 hr</p>
        </div>
        <button title="call btn" class="btn btn-active-gray btn-icon shrink-0" (click)="openCallModal()">
          <lucide-angular name="phone" class="size-5"></lucide-angular>
        </button>
        <button title="video call btn" class="btn btn-active-gray btn-icon shrink-0" (click)="openVideoCallModal()">
          <lucide-angular name="video" class="size-5"></lucide-angular>
        </button>
      </div>
      <div class="pb-0 card-body">
        <div class="flex flex-col justify-end min-h-[calc(100vh_-_24rem)] gap-5 " id="chat-messages">

          <ng-container *ngFor="let msg of allMessage; let index = index">
            <div class="messages flex items-end max-w-xl gap-3 ltr:[&.right]:ml-auto rtl:[&.right]:mr-auto group/chat" [ngClass]="{'right': msg.type === 'sent'}">
              <div class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 dark:bg-dark-850 rounded-full size-8 shrink-0 group-[&.right]/chat:order-2">
                <img [src]="msg.avatar" alt="" class="rounded-full">
                <span *ngIf="!msg.avatar" class="text-sm">{{msg.avatarText}}</span>
                <span class="absolute bottom-0 bg-green-500 border-2 border-white dark:border-dark-900 rounded-full ltr:right-0 rtl:left-0 size-2.5"></span>
              </div>
              <div class="grow *:mb-3">
                <div class="flex items-end gap-2 last:mb-0">
                  <div class="grow">
                    <p class="ltr:group-[&.right]/chat:text-right rtl:group-[&.right]/chat:text-left text-gray-500 dark:text-dark-500 mb-1 text-xs">
                      {{msg.time}}
                    </p>
                    <div class="px-4 py-2.5 last:mb-0 bg-gray-100 dark:bg-dark-850 rounded-xl ltr:rounded-bl-none rtl:rounded-br-none group-[&.right]/chat:order-1 ltr:group-[&.right]/chat:rounded-bl-lg rtl:group-[&.right]/chat:rounded-br-lg ltr:group-[&.right]/chat:rounded-br-none rtl:group-[&.right]/chat:rounded-bl-none" [innerHTML]="msg.text">

                    </div>
                  </div>
                  <div class="dropdown shrink-0">
                    <button title="dropdown btn" domixDropdownToggle [dropdownMenu]="dropdown2" type="button" class="flex items-center text-gray-500 dark:text-dark-500">
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div #dropdown2 class="!fixed p-2 dropdown-menu" dropdown-position="right">
                      <ul>
                        <li>
                          <a href="javascript: void(0);" class="dropdown-item">
                            <i class="align-middle ltr:mr-2 rtl:ml-2 ri-reply-line"></i> <span>Reply</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript: void(0);" class="dropdown-item" (click)="deleteModal(index)">
                            <i class="align-middle ltr:mr-2 rtl:ml-2 ri-delete-bin-line"></i> <span>Delete</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="last:mb-0" *ngIf="msg.images">
                  <div class="grid grid-cols-12 gap-4">
                    <ng-container *ngFor="let img of msg.images">
                      <div class="col-span-3">
                        <a href="javascript: void(0);" title="Gallery Images">
                          <img [src]="img" alt="" class="rounded-md">
                        </a>
                      </div>
                    </ng-container>
                    <a href="javascript: void(0);" class="flex items-center justify-center col-span-3 p-3 bg-gray-100 rounded-md dark:bg-dark-850">
                      <h6>{{msg.extraImagesCount}}</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </ngx-simplebar>
    <div class="card-body">
      <div class="flex items-center gap-2 p-2 border border-gray-200 rounded-md dark:border-dark-800">
        <button class="btn btn-active-gray btn-icon shrink-0">
          <lucide-angular name="audio-lines" class="size-5"></lucide-angular>
        </button>
        <input type="text" class="border-0 form-input grow" placeholder="Type something ..." [(ngModel)]="message" (keydown.enter)="sendMessage()">

        <button title="submit" (click)="sendMessage()" class="btn btn-active-primary btn-icon shrink-0">
          <lucide-angular name="Send" class="size-5"></lucide-angular>
        </button>
        <div class="hidden shrink-0 md:flex">
          <label for="sendImages" class="btn btn-active-gray btn-icon">
            <lucide-angular name="image" class="size-5"></lucide-angular>
          </label>
          <input type="file" id="sendImages" class="hidden">
        </div>
        <button class="text-lg btn btn-active-gray btn-icon shrink-0" (click)="toggleEmojiPicker()">
          😊
        </button>
        <emoji-picker *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" set="apple">
        </emoji-picker>
        <div class="dropdown">
          <button type="button" domixDropdownToggle [dropdownMenu]="dropdown2" class="text-lg btn btn-active-gray btn-icon shrink-0">
            <lucide-angular name="ellipsis" class="size-5"></lucide-angular>
          </button>
          <div #dropdown2 class="!fixed p-2 dropdown-menu">
            <ul>
              <li>
                <a href="javascript: void(0);" class="dropdown-item" (click)="clearChat()">
                  <i class="align-middle ltr:mr-2 rtl:ml-2 ri-chat-4-line"></i> <span>Clear Chat</span>
                </a>
              </li>
              <li>
                <a href="javascript: void(0);" class="dropdown-item">
                  <i class="align-middle ltr:mr-2 rtl:ml-2 ri-delete-bin-line"></i> <span>Delete</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>