<app-page-title [Title]="'Box-whisker Charts'" [pageTitle]="'Apexcharts'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Basic</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="boxPlotChart.series" [chartOptions]="boxPlotChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Boxplot-Scatter</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="boxplotChart.series" [chartOptions]="boxplotChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Horizontal BoxPlot</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="boxplotChart1.series" [chartOptions]="boxplotChart1.chartOptions">
      </app-domix-charts>
    </div>
  </div>

</div>
