<app-page-title [Title]="'Range Area Charts'" [pageTitle]="'Apexcharts'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Basic</h6>
    </div>
    <div class="card-body">

      <app-domix-charts [series]="rangeBasicChart.series" [chartOptions]="rangeBasicChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Combo</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="rangeChart.series" [chartOptions]="rangeChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

</div>
