<app-page-title [pageTitle]="'Ui'" [Title]="'Button Navigation'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
    <div class="col-span-12 card">
        <div class="card-header">
            <h6 class="card-title">Bottom Navigation</h6>
        </div>
        <div class="card-body">
            <div class="grid grid-cols-1 gap-space lg:grid-cols-2">
                <div class="btn-navigation">
                    <a href="javascript: void(0);" class="navigation-primary">
                        <lucide-angular name="home" class="mx-auto"></lucide-angular>
                    </a>
                    <a href="javascript: void(0);" class="navigation-primary active">
                        <lucide-angular name="zap" class="mx-auto"></lucide-angular>
                    </a>
                    <a href="javascript: void(0);" class="navigation-primary">
                        <lucide-angular name="barChartBig" class="mx-auto"></lucide-angular>
                    </a>
                    <a href="javascript: void(0);" class="navigation-primary">
                        <lucide-angular name="Settings" class="mx-auto"></lucide-angular>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 card">
        <div class="card-header">
            <h6 class="card-title">Animation Navigation</h6>
        </div>
        <div class="card-body">
            <div class="grid grid-cols-1 gap-space lg:grid-cols-2">
                <div class="btn-navigation animate-navigation">
                    <a href="javascript:void(0);" class="navigation-animation-purple"><lucide-angular name="home" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-purple active"><lucide-angular name="zap" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-purple"><lucide-angular name="barChartBig" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-purple"><lucide-angular name="Settings" class="mx-auto"></lucide-angular></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 card">
        <div class="card-header">
            <h6 class="card-title">Border Navigation</h6>
        </div>
        <div class="card-body">
            <div class="grid grid-cols-1 gap-space lg:grid-cols-2">
                <div class="btn-navigation navigation-border">
                    <a href="javascript:void(0);" class="navigation-animation-green"><lucide-angular name="home" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-green active"><lucide-angular name="CalendarDays" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-green"><lucide-angular name="Bell" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-green"><lucide-angular name="Settings" class="mx-auto"></lucide-angular></a>
                </div>
                <div class="btn-navigation navigation-border border-top">
                    <a href="javascript:void(0);" class="navigation-animation-sky"><lucide-angular name="user" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-sky active"><lucide-angular name="box" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-sky"><lucide-angular name="clapperboard" class="mx-auto"></lucide-angular></a>
                    <a href="javascript:void(0);" class="navigation-animation-sky"><lucide-angular name="pencilRuler" class="mx-auto"></lucide-angular></a>
                </div>
            </div>
        </div>
    </div>
</div>