<app-page-title [Title]="'Candlestick Charts'" [pageTitle]="'Apexcharts'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Basic</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="candlestickChart.series" [chartOptions]="candlestickChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 md:col-span-6 card">
    <div class="card-header">
      <h6 class="card-title">Candlestick with line</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="basicChart.series" [chartOptions]="basicChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

</div>
