<div class="relative flex items-center justify-center min-h-screen py-12 bg-center bg-cover bg-auth [url('../images/others/auth.jpg')]">
  <div class="absolute inset-0 bg-gray-950/50"></div>
  <div class="container relative">
    <div class="grid grid-cols-12">
      <div class="col-span-12 mb-0 border-none shadow-none md:col-span-10 lg:col-span-6 xl:col-span-4 md:col-start-2 lg:col-start-4 xl:col-start-5 card bg-white/10 backdrop-blur-md">
        <div class="md:p-10 card-body">
          <div class="mb-5 text-center">
            <a href="javascript:void(0);" routerLink="/"><img src="./assets/images/logo-white.png" alt="" class="cursor-pointer h-8 mx-auto"></a>
          </div>
          <h4 class="mb-2 leading-relaxed text-center text-white">Account Deactivation</h4>
          <p class="mb-5 text-center text-white/75">Domiex Security and Privacy</p>
          <div class="flex gap-3 mb-3">
            <div class="text-white shrink-0">
              <lucide-angular name="EyeOff"></lucide-angular>
            </div>
            <div class="grow">
              <h6 class="mb-1 text-white">Temporary Disable</h6>
              <p class="text-white/60">The customer is very important and will be followed up with care. Everyone's
                needs are expected to be met. It is not just about the process, but about benefiting everyone, with an
                emphasis on ecological mindfulness.</p>
            </div>
          </div>
          <div class="flex gap-3">
            <div class="text-white shrink-0">
              <lucide-angular name="Trash2"></lucide-angular>
            </div>
            <div class="grow">
              <h6 class="mb-1 text-white">Permanent Delete</h6>
              <p class="text-white/60">The customer is very important and will receive dedicated attention. Everyone's
                needs and expectations are considered. This process is undertaken for the benefit of all, with a focus
                on ecological responsibility.</p>
            </div>
          </div>
          <div class="justify-center gap-2 mt-6 sm:flex">
            <a href="javascript:void(0);" class="btn btn-primary">Temporary Disable</a>
            <a href="javascript:void(0);" class="btn btn-red mt-2.5 sm:mt-0">Permanent Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>