<div class="flex items-center justify-between text-center">
  <div>
    <lucide-angular name="CircleCheckBig" class="mx-auto my-4 text-green-500 fill-green-500/10 size-8"></lucide-angular>
    <h4 class="mb-2">Registration Success</h4>
    <div class="mb-8 text-gray-500">
      Thank you. We have sent you an email to info&#64;srbthemes.com. Please click the link in the message to activate
      your account.
    </div>
    <button (click)="resetForm()" class="btn btn-sub-gray">
      <lucide-angular name="Home" class="mr-2"></lucide-angular> Go to Home
    </button>
  </div>
</div>