<app-page-title [Title]="'Icons'" [pageTitle]="'Line Awesome'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 card">
    <div class="flex items-center card-header">
      <h6 class="text-15 grow">Line Awesome Icons</h6>
      <a href="https://icons8.com/line-awesome" target="_blank"
        class="font-medium text-red-500 underline transition duration-200 ease-linear hover:text-red-600 shrink-0">View
        All Icons
        <lucide-angular name="MoveRight" class="inline-block ml-1 size-4"></lucide-angular>
      </a>
    </div>
    <div class="card-body">
      <p class="mb-3 text-gray-500 dark:text-dark-500">Line Awesome can be loaded via CDN or downloaded as zip archive.
        You can read more about this options on Line Awesome how-to page.</p>

      <h6 class="mb-2 text-16">Installation</h6>
      <p class="text-gray-500 dark:text-dark-500 mb-2">Alternatively, Line Awesome can be installed as npm package:</p>

                    <pre><code class="language-bash">{{ codeSnippet1 }}</code></pre>

      <p class="text-gray-500 dark:text-dark-500 mb-2">import CSS to your <code class="text-pink-500">icons.scss</code></p>

                    <pre><code class="language-bash">{{ codeSnippet2 }}</code></pre>

      <h6 class="mb-1 mb-2">CDN</h6>
      <p class="text-gray-500 dark:text-dark-500 mb-2">If you already have Font Awesome installed, simply switch out the link
        to start using Line Awesome:</p>

                    <pre><code class="language-bash">{{ codeSnippet3 }}</code></pre>

      <h6 class="mb-1 mb-2">Usage</h6>
      <p class="text-gray-500 dark:text-dark-500 mb-2">Use the preview page to quickly find the name of the icon you want to
        use.</p>

                    <pre><code class="language-bash">{{ codeSnippet4 }}</code></pre>

      <p class="mb-0 text-gray-500 dark:text-dark-500 mb-2">For more details, see the <a
          href="https://icons8.com/line-awesome/howto" target="_blank"
          class="transition duration-200 ease-linear hover:text-primary-600 text-primary-500">documentation</a>.</p>
    </div>
  </div>

  <div class="col-span-12 card">
    <div class="card-header">
      <h6 class="card-title">Color Icons</h6>
    </div>
    <div class="card-body">
      <div
        class="*:size-10 *:flex *:items-center *:justify-center flex items-center *:border *:border-gray-200 dark:*:border-dark-800 gap-2 *:rounded-md text-xl">
        <div><i class="las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-gray-500 dark:text-dark-500 las la-radiation"></i></div>
        <div><i class="text-green-500 las la-angle-double-right"></i></div>
        <div><i class="text-purple-500 las la-photo-video"></i></div>
        <div><i class="text-yellow-500 las la-campground"></i></div>
        <div><i class="lab la-modx text-sky-500"></i></div>
      </div>
    </div>
  </div>

  <div class="col-span-12 card">
    <div class="card-header">
      <h6 class="card-title">Sizes Icons</h6>
    </div>
    <div class="card-body">
      <div class="flex items-center gap-3 overflow-x-auto">
        <div><i class="text-xs las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="las la-battery-three-quarters text-primary-500 text-14"></i></div>
        <div><i class="las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="las la-battery-three-quarters text-primary-500 text-16"></i></div>
        <div><i class="text-lg las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-2xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-3xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-4xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-5xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-6xl las la-battery-three-quarters text-primary-500"></i></div>
        <div><i class="text-8xl las la-battery-three-quarters text-primary-500"></i></div>
      </div>
    </div>
  </div>

</div>

