<app-page-title [Title]="'Overview'" [pageTitle]="'Invoice'"></app-page-title>

<div class="grid grid-cols-12 gap-x-5">
  <div class="col-span-12 xl:col-span-8 2xl:col-span-9">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Event Details</h6>
      </div>
      <div class="card-body">
        <div class="mb-5">
          <img src="assets/images/event/overview.jpg" alt="" class="object-cover w-full rounded-md h-72">
        </div>
        <div class="flex flex-wrap gap-3 mb-5">
          <div class="flex flex-col items-center justify-center mb-2.5 border bg-red-100 rounded-md border-red-200 size-16 text-red-500">
            <p class="mb-0.5">Fri</p>
            <h3 class="leading-none">20</h3>
          </div>
          <div class="grow">
            <h6 class="mb-1.5">Annual Music Festival!</h6>
            <p class="mb-4 text-gray-500 dark:text-dark-500"><span>20 Dec 2024</span><span class="ltr:pl-2 rtl:pr-2 ltr:ml-1.5 rtl:mr-1.5 ltr:border-l rtl:border-r border-gray-200 dark:border-dark-800">Sydney,
                Australia</span></p>

            <p class="mb-2 text-gray-500 dark:text-dark-500">Contributors & Sponsors</p>
            <div class="flex grow">
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-5.png"></div>
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-20.png"></div>
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-13.png"></div>
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-14.png"></div>
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-15.png"></div>
              <div class="transition duration-300 ease-linear hover:-translate-y-1"><img class="border-2 border-white rounded-full dark:border-dark-800 size-8" alt="" src="assets/images/avatar/user-18.png"></div>
            </div>
          </div>
          <div class="shrink-0">
            <button class="btn btn-red" (click)="bookEventModal()">Book Now
              <lucide-angular name="ticket-minus" class="inline-block ltr:ml-1 rtl:mr-1 size-5"></lucide-angular>
            </button>
          </div>
        </div>

        <p class="mb-3 text-gray-500 dark:text-dark-500">Join us for an unforgettable experience filled with live
          performances, vibrant energy, and a celebration of music and culture. This year, we're bringing together some
          of the biggest names in the industry, alongside emerging artists, to create a diverse and dynamic lineup that
          promises to entertain and inspire.</p>
        <h6 class="mb-3">Event Highlights:</h6>
        <ul class="mb-4 flex flex-col gap-3 text-gray-500 list-disc list-inside dark:text-dark-500 marker:text-green-500">
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Live Performances:</span> Enjoy non-stop music
            from top artists across multiple stages.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Food and Drinks:</span> Savor delicious cuisine
            and refreshing beverages from local vendors.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Workshops and Activities:</span> Participate in
            interactive workshops and activities for all ages.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Merchandise:</span> Get your hands on exclusive
            festival merchandise and memorabilia.</li>
        </ul>
        <h6 class="mb-3">Details:</h6>
        <ul class="mb-4 flex flex-col gap-3 text-gray-500 list-disc list-inside dark:text-dark-500 marker:text-green-500">
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Date:</span> 20 Dec 2024</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Time:</span> 2:30 pm</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Location:</span> Sydney, Australia</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Tickets Price:</span> $599.00</li>
        </ul>
        <h6 class="mb-3">Additional Information:</h6>
        <ul class="mb-4 flex flex-col gap-3 text-gray-500 list-disc list-inside dark:text-dark-500 marker:text-green-500">
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Parking:</span> On-site parking available with a
            shuttle service to the festival grounds.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Accommodations:</span> Partner hotels offering
            special festival rates for attendees. Check our website for more details.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Accessibility:</span> The event is fully
            accessible with dedicated areas for wheelchair users and assistance for those with disabilities.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Safety Measures:</span> We prioritize your
            safety with on-site medical facilities, security personnel, and clear signage throughout the venue.</li>
        </ul>
        <h6 class="mb-3">How to Prepare:</h6>
        <ul class="mb-4 flex flex-col gap-3 text-gray-500 list-disc list-inside dark:text-dark-500 marker:text-green-500">
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Plan Ahead:</span> Check the schedule and plan
            which performances you want to catch.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Stay Hydrated:</span> Bring a reusable water
            bottle and stay hydrated throughout the event.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Dress Comfortably:</span> Wear comfortable
            clothing and shoes suitable for outdoor activities.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Stay Connected:</span> Follow us on social media
            for live updates and announcements.</li>
        </ul>
        <h6 class="mb-1">Sustainability Initiatives:</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">We are committed to making this festival environmentally
          friendly:</p>
        <ul class="mb-4 flex flex-col gap-3 text-gray-500 list-disc list-inside dark:text-dark-500 marker:text-green-500">
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Recycling Stations:</span> Easily accessible
            recycling bins throughout the venue.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Eco-friendly Products:</span> Encouraging the
            use of biodegradable and recyclable materials by our vendors.</li>
          <li><span class="font-medium text-gray-800 dark:text-dark-50">Green Transportation:</span> Promoting the use
            of public transport, biking, and carpooling to reduce the festival’s carbon footprint.</li>
        </ul>
        <p class="mb-2 text-gray-500 dark:text-dark-500">Don’t miss out on the music event of the year! Gather your
          friends and family and come create lasting memories with us.</p>
        <h6 class="mb-2">Get your tickets now and be part of the magic!</h6>
        <p class="text-gray-500 dark:text-dark-500">For more information, visit our website or contact us at SRBThemes.
          We can’t wait to see you there!</p>
      </div>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-4 2xl:col-span-3">
    <button type="button" class="w-full btn btn-primary">
      <lucide-angular name="pencil" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular> Edit Event
    </button>
    <div class="mt-5 card">
      <div class="card-header">
        <h6 class="card-title">Invitation Status</h6>
      </div>
      <div class="card-body">
        <div>
          <app-domix-charts [series]="invitationChart.series" [chartOptions]="invitationChart.chartOptions">
          </app-domix-charts>
        </div>
        <div class="grid grid-cols-2 divide-x divide-gray-200 rtl:divide-x-reverse dark:divide-dark-800">
          <div class="p-3 text-center">
            <h6 class="mb-1">1800</h6>
            <p class="text-gray-500 dark:text-dark-500">Sent</p>
          </div>
          <div class="p-3 text-center">
            <h6 class="mb-1">1593</h6>
            <p class="text-gray-500 dark:text-dark-500">Accept</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="flex items-center card-header">
        <h6 class="card-title grow">Ticket Sale</h6>
        <div class="dropdown">
          <button type="button" class="flex px-2 py-1 text-xs border-gray-200 dark:border-dark-800 link link-red btn" domixDropdownToggle [dropdownMenu]="dropdown1">
            This Week
            <svg :class="{ 'transform rotate-180': open }" class="transition-transform duration-300 size-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>

          <div class="fixed hidden p-2 dropdown-menu" dropdown-position="right" #dropdown1>
            <a href="javascript: void(0);" class="dropdown-item">
              This Week
            </a>

            <a href="javascript: void(0);" class="dropdown-item">
              This Month
            </a>
            <a href="javascript: void(0);" class="dropdown-item">
              This Years
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div dir="ltr">
          <app-domix-charts [series]="ticketSaleChart.series" [chartOptions]="ticketSaleChart.chartOptions">
          </app-domix-charts>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Location</h6>
      </div>
      <div class="card-body">
        <iframe class="w-full border-0 rounded-md aspect-4/3" title="video" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424146.7072578641!2d150.60233714782865!3d-33.847234937864414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%20NSW%2C%20Australia!5e0!3m2!1sen!2sin!4v1716460671830!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>