<div id="videoCallModal" class="modal">
  <div class="modal-wrap modal-lg modal-center">
    <div class="modal-content">
      <div class="relative overflow-hidden rounded-md">
        <img src="assets/images/chat/video-1.png" alt="" class="main-image">
        <a href="javascript: void(0);" class="absolute inline-block right-5 bottom-5">
          <img src="assets/images/chat/video-2.png" alt="" class="h-24 rounded-md">
        </a>
      </div>
      <div class="flex items-center justify-center gap-2 pt-5">
        <button class="btn btn-sub-gray btn-icon">
          <lucide-angular name="MicOff" class="size-5"></lucide-angular>
        </button>
        <button class="btn btn-red btn-icon" data-modal-close="videoCallModal">
          <lucide-angular name="PhoneMissed" class="size-5"></lucide-angular>
        </button>
        <button class="btn btn-sub-gray btn-icon">
          <lucide-angular name="VideoOff" class="size-5"></lucide-angular>
        </button>
      </div>
    </div>
  </div>
</div>
