<div id="addReportsModal" class="modal">
  <div class="modal-wrap modal-center">
    <div class="modal-header">
      <h6 class="modal-title">Add Report</h6>
      <button (click)="close()" class="link link-red">
        <lucide-angular name="x" class="size-5"></lucide-angular>
      </button>
    </div>
    <div class="modal-content" [formGroup]="fromGroup">
      <form action="javascript: void(0);">
        <div class="grid grid-cols-12 gap-space">
          <div class="col-span-12">
            <label for="reportTypeSelect" class="form-label">Report Type <span class="text-red-500">*</span></label>
          </div>
          <ng-select class="filter-ng-select" [items]="reportTypeOptions" bindLabel="label" bindValue="value"
            placeholder="Select Report Type" formControlName="name">
          </ng-select>
          <span *ngIf="fromGroup.get('name')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-12">
          <label for="dateInput" class="form-label">Date <span class="text-red-500">*</span></label>
          <input type="text" placeholder="YYYY-MM-DD" id="eventDateInput" class="form-input" data-provider="flatpickr"
            formControlName="date" mwlFlatpickr [flatpickrOptions]="{dateFormat: 'Y-m-d'}" formControlName="date">
          <span *ngIf="fromGroup.get('date')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-12">
          <label for="doctorNameInput" class="form-label">Doctor <span class="text-red-500">*</span></label>
          <input type="text" id="doctorNameInput" class="form-input" placeholder="Enter doctor name"
            formControlName="doctor">
          <span *ngIf="fromGroup.get('doctor')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-12">
          <label for="textareaInput2" class="form-label">Clinical Details</label>
          <textarea name="textareaInput2" id="textareaInput2" rows="3" class="h-auto form-input"
            placeholder="Enter your description" formControlName="clientDetails"></textarea>
          <span *ngIf="fromGroup.get('clientDetails')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-6">
          <label for="impressionsInput" class="form-label">Impressions</label>
          <input type="text" id="impressionsInput" class="form-input" placeholder="Impressions"
            formControlName="impressions">
          <span *ngIf="fromGroup.get('impressions')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-6">
          <label for="recommendationsSelect" class="form-label">Recommendations</label>
          <ng-select class="filter-ng-select" [items]="RecommendationsOptions" bindLabel="label" bindValue="value"
            placeholder="Select event type" formControlName="recommendations">
          </ng-select>
          <span *ngIf="fromGroup.get('recommendations')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-12">
          <label for="statusSelect" class="form-label">Status <span class="text-red-500">*</span></label>
          <ng-select class="filter-ng-select" [items]="statusOptions" bindLabel="label" bindValue="value"
            placeholder="Select event type" formControlName="status">
          </ng-select>
          <span *ngIf="fromGroup.get('status')?.hasError('required')" class="text-red-500"> This Filed is
            Required</span>
        </div>
        <div class="col-span-12">
          <div class="flex items-center justify-end gap-2">
            <button type="button" class="btn btn-active-red" (click)="close()">
              <lucide-angular name="x" class="inline-block size-4"></lucide-angular> <span
                class="align-baseline">Close</span>
            </button>
            <a href="javascript: void(0);" class="btn btn-primary" (click)="closeEventModal()">
              <lucide-angular name="Plus" class="inline-block mr-1 size-4"></lucide-angular> Add
              Report
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
