<div id="halfScreenDrawer" drawer-start class="drawer-half drawer">
    <div class="drawer-header">
        <h6>Half Screen Drawer</h6>
        <button data-drawer-close="halfScreenDrawer"><lucide-angular name="x" class="link link-red"></lucide-angular></button>
    </div>
    <div class="drawer-content">
        <h6 class="mb-3 text-15">Drawer Content</h6>
        <p class="text-slate-500 dark:text-dark-500">They all have something to say beyond the words on the page. They can come across as casual or neutral, exotic or graphic.</p>
    </div>
    <div class="drawer-footer">
        <h6>Drawer Footer</h6>
    </div>
</div>