<app-page-title [Title]="'Slope Charts'" [pageTitle]="'Apexcharts'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 card">
    <div class="card-header">
      <h6 class="card-title">Basic</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="slopeChart.series" [chartOptions]="slopeChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

  <div class="col-span-12 card">
    <div class="card-header">
      <h6 class="card-title">Multi Group</h6>
    </div>
    <div class="card-body">
      <app-domix-charts [series]="lineChart.series" [chartOptions]="lineChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>

</div>
