<div id="parentsCreateModal" class="modal">
  <div class="modal-wrap modal-center">
    <div class="p-2 modal-content">
      <div
        class="h-24 p-5 rounded-t-sm ltr:bg-gradient-to-r rtl:bg-gradient-to-l from-primary-200 via-pink-500/20 to-green-500/20">
      </div>
      <div class="p-4" [formGroup]="fromGroup">
        <div class="-mt-16">
          <label for="logo">
            <div>
              <label for="logo"
                class="flex items-center justify-center p-2 mx-auto overflow-hidden bg-gray-100 border border-gray-200 rounded cursor-pointer dark:bg-dark-850 dark:border-dark-800 size-32">
                <img *ngIf="fromGroup.get('image')?.value" [src]="fromGroup.get('image')?.value"
                  class="object-cover w-full h-full">
                <span *ngIf="!fromGroup.get('image')?.value"
                  class="flex flex-col items-center text-gray-500 dark:text-dark-500">
                  <lucide-angular name="upload"></lucide-angular>
                  <span class="block mt-2">Upload Images</span>
                </span>
              </label>
              <span *ngIf="fromGroup.get('image')?.hasError('required')" class="text-red-500">This Field is
                required</span>
              <div class="hidden mt-4">
                <label class="block">
                  <span class="sr-only">Choose profile photo</span>
                  <input type="file" name="logo" id="logo" (change)="onFileChange($event)"
                    class="block w-full text-sm file:rounded-md focus:outline-0 text-slate-500 file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
                    formControlName="image" />
                </label>
              </div>
            </div>
          </label>
          <div class="hidden mt-4">
            <label class="block">
              <span class="sr-only">Choose profile photo</span>
              <input type="file" name="logo" id="logo"
                class="block w-full text-sm file:rounded-md focus:outline-0 text-slate-500 file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100" />
            </label>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4 mt-space">
          <div class="col-span-12">
            <label for="parentsInput" class="form-label">Parents Name</label>
            <input type="text" id="parentsInput" class="form-input" placeholder="Parents Name"
              formControlName="parentsName">
            <span *ngIf="fromGroup.get('parentsName')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-12">
            <label for="studentNameInput" class="form-label">Student Name</label>
            <input type="text" id="studentNameInput" class="form-input" placeholder="Student name"
              formControlName="studentName">
            <span *ngIf="fromGroup.get('studentName')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="relationInput" class="form-label">Relation</label>
            <input type="text" id="relationInput" class="form-input" placeholder="Relation" formControlName="relation">
            <span *ngIf="fromGroup.get('relation')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="genderSelect" class="form-label">Gender</label>
            <ng-select class="filter-ng-select" [items]="genderOptions" bindLabel="label" bindValue="value"
              placeholder="Select event type" formControlName="gender">
            </ng-select>
            <span *ngIf="fromGroup.get('gender')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-12">
            <label for="occupationInput" class="form-label">Occupation</label>
            <input type="text" id="occupationInput" class="form-input" placeholder="Occupation"
              formControlName="occupation">
            <span *ngIf="fromGroup.get('occupation')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" id="emailInput" class="form-input" placeholder="Enter your email"
              formControlName="email">
            <span *ngIf="fromGroup.get('email')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="col-span-6">
            <label for="phonenumberInput" class="form-label">Phone Number</label>
            <input type="tel" id="phonenumberInput" class="form-input" placeholder="Enter your phone number"
              formControlName="phone">
            <span *ngIf="fromGroup.get('phone')?.hasError('required')" class="text-red-500"> This Filed is
              Required</span>
          </div>
          <div class="flex items-center justify-end col-span-12 gap-2">
            <button type="button" class="btn btn-active-red" (click)="close()">
              <lucide-angular name="x" class="inline-block size-4"></lucide-angular> <span
                class="align-baseline">Close</span>
            </button>
            <button type="button" class="btn btn-primary" (click)="closeEventModal()">{{!config ? 'Add' : 'Update' }}
              Parents
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
