<div id="smallDrawer" drawer-end class="drawer drawer-sm">

    <div class="drawer-content">
        <ngx-simplebar [options]="options">
            <div class="*:relative *:rounded-full *:block space-y-3">
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-4.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-5.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-6.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-11.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-8.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-12.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-13.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-14.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-15.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-17.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-18.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-19.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-20.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-21.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-22.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-24.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
                <a href="javascript:void(0);">
                    <img src="assets/images/avatar/user-25.png" alt="" class="mx-auto rounded-full size-14">
                    <div class="absolute bottom-0 bg-green-500 border-2 border-white rounded-full dark:border-dark-900 size-4 right-0.5"></div>
                </a>
            </div>
        </ngx-simplebar>
    </div>
</div>