<app-page-title [pageTitle]="'Ui'" [Title]="'Breadcrumb'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
    <div class="col-span-12 md:col-span-6 card">
        <div class="card-header">
            <h6 class="card-title">Base Example</h6>
        </div>
        <div class="card-body">
            <ul class="breadcrumb *:before:content-['\f2e5']">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Domiex</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">UI</a></li>
                <li class="breadcrumb-item active">Breadcrumb</li>
            </ul>

            <ul class="breadcrumb *:before:content-['\f2e5']">
                <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="align-middle ri-home-4-line"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">UI</a></li>
                <li class="breadcrumb-item active">Breadcrumb</li>
            </ul>
        </div>
    </div>

    <div class="col-span-12 md:col-span-6 card">
        <div class="card-header">
            <h6 class="card-title">Arrow Example</h6>
        </div>
        <div class="card-body">
            <ul class="breadcrumb *:before:content-['\EA6E']">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Domiex</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">UI</a></li>
                <li class="breadcrumb-item active">Breadcrumb</li>
            </ul>

            <ul class="breadcrumb *:before:content-['\EA6E']">
                <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="align-middle ri-home-4-line"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Advance UI</a></li>
                <li class="breadcrumb-item active">Scrollbar</li>
            </ul>
        </div>
    </div>

    <div class="col-span-12 md:col-span-6 card">
        <div class="card-header">
            <h6 class="card-title">Line Example</h6>
        </div>
        <div class="card-body">
            <ul class="breadcrumb *:before:content-['\F1AF']">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Domiex</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">UI</a></li>
                <li class="breadcrumb-item active">Breadcrumb</li>
            </ul>

            <ul class="breadcrumb *:before:content-['\F1AF']">
                <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="align-middle ri-home-4-line"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Advance UI</a></li>
                <li class="breadcrumb-item active">Scrollbar</li>
            </ul>
        </div>
    </div>
</div>