<app-page-title [Title]="'Group Video'" [pageTitle]="'Chats'"></app-page-title>


<ngx-simplebar [options]="options">
  <div class="flex items-center gap-x-space">
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          You
        </div>
      </div>
      <img src="assets/images/chat/video-7.png" alt="">
    </a>
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          Michaela Sutton
        </div>
      </div>
      <img src="assets/images/chat/video-2.png" alt="">
    </a>
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          James Davis
        </div>
      </div>
      <img src="assets/images/chat/video-3.png" alt="">
    </a>
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          Wendy Dugan
        </div>
      </div>
      <img src="assets/images/chat/video-4.png" alt="">
    </a>
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          Carlos Garcia
        </div>
      </div>
      <img src="assets/images/chat/video-5.png" alt="">
    </a>
    <a href="javascript: void(0);" class="relative block w-64 overflow-hidden card shrink-0">
      <div class="absolute flex items-center gap-2 bottom-3 left-3">
        <div
          class="rounded-full btn bg-gray-900/40 [&.active]:bg-red-500 text-white flex items-center justify-center p-0 size-9">
          <lucide-angular name="Mic" class="size-4"></lucide-angular>
        </div>
        <div class="px-3 py-2 text-xs leading-none text-white rounded-full bg-gray-900/40">
          Lorna Yancey
        </div>
      </div>
      <img src="assets/images/chat/video-6.png" alt="">
    </a>
  </div>
</ngx-simplebar>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 overflow-hidden lg:col-span-6 xl:col-span-8 card">
    <div class="relative">
      <div class="absolute flex items-center gap-3 top-5 left-4">
        <button title="mic btn" class="rounded-full btn bg-gray-900/30 [&.active]:bg-red-500 text-white btn-icon">
          <lucide-angular name="mic" class="size-4"></lucide-angular>
        </button>
        <div class="px-4 py-3 leading-none text-white rounded-full bg-gray-900/30">
          John Powers
        </div>
      </div>
      <img src="assets/images/chat/video-1.png" alt="" class="object-cover w-full">
      <div *ngIf="showCaptions"
        class="absolute max-w-2xl px-4 py-2.5 mx-auto font-medium leading-none transform -translate-x-1/2 rounded-full bg-gray-900/15 left-1/2 bottom-5">
        Hello, Shopia Mia
      </div>
    </div>
    <div class="card-body">
      <div class="flex flex-wrap items-center justify-between gap-5">
        <div class="inline-flex items-center gap-2 px-3 bg-gray-100 dark:bg-dark-850 btn shrink-0">
          <button title="volume - btn" class="p-1 bg-white rounded-sm dark:bg-dark-900" (click)="decreaseVolume()">
            <lucide-angular name="Volume1" class="text-gray-500 size-4 dark:text-dark-500"></lucide-angular>
          </button>

          <div class="!w-24 bg-white dark:bg-dark-900 progress-bar progress-1">
            <div [ngStyle]="{ width: volume + '%' }" class="h-2 text-white rounded-sm progress-bar-wrap bg-primary-500">
            </div>
          </div>

          <button title="volume + btn" class="p-1 bg-white rounded-sm dark:bg-dark-900" (click)="increaseVolume()">
            <lucide-angular name="Volume2" class="text-gray-500 dark:text-dark-500 size-4"></lucide-angular>
          </button>
        </div>
        <div class="flex items-center gap-2">
          <button title="mic btn" class="rounded-full btn btn-sub-gray btn-icon">
            <lucide-angular name="Mic" class="size-4"></lucide-angular>
          </button>
          <button title="video btn" class="rounded-full btn btn-sub-gray btn-icon">
            <lucide-angular name="Video" class="size-4"></lucide-angular>
          </button>
          <button title="captions btn" class="rounded-full btn btn-sub-gray btn-icon" (click)="toggleCaptions()">
            <lucide-angular *ngIf="showCaptions" name="Captions" class="size-4"></lucide-angular>
            <lucide-angular *ngIf="!showCaptions" name="CaptionsOff" class="size-4"></lucide-angular>
          </button>
          <button title="added btn" class="rounded-full btn btn-sub-gray btn-icon">
            <lucide-angular name="CirclePlus" class="size-4"></lucide-angular>
          </button>
        </div>
        <button title="leave call" class="btn btn-red">
          <lucide-angular name="PhoneMissed" class="inline-block mr-1 size-4"></lucide-angular> Leave Call
        </button>
      </div>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-6 xl:col-span-4">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Key Moments</h6>
      </div>
      <div class="card-body">
        <ngx-simplebar class="max-h-28 -mx-space px-space" [options]="options">

          <div class="flex flex-col gap-2">
            <a *ngFor="let pin of pins" href="javascript: void(0);" title="text pin"
              class="flex items-center gap-3 text-gray-500 dark:text-dark-500">
              <p class="w-28">{{ pin.time }}</p>
              <p>{{ pin.text }}</p>
            </a>
          </div>

        </ngx-simplebar>
        <div class="flex items-center gap-2 mt-5">
          <p class="font-medium text-green-500 shrink-0">{{ formattedTime }}</p>
          <label for="newPinText" class="hidden">newPinText</label>
          <input type="text" class="form-input" id="newPinText" [(ngModel)]="newPinText" (keydown.enter)="addPin()" />
          <button (click)="addPin()" title="add pin btn" class="btn btn-sub-red btn-icon shrink-0">
            <lucide-angular name="Pin" class="size-4"></lucide-angular>
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Group Chat</h6>
      </div>
      <div class="card-body">
        <ngx-simplebar class="max-h-64 -mx-space px-space" [options]="options">
          <div class="flex flex-col gap-2" id="chat-messages">
            <ng-container *ngFor="let message of usermsg">
              <div class="flex gap-2">
                <div
                  class="relative flex items-center justify-center font-semibold transition duration-200 ease-linear bg-gray-100 rounded-full dark:bg-dark-850 size-10 shrink-0">
                  <img [src]="message.avatar" alt="" class="rounded-full">
                </div>
                <div class="grow">
                  <h6 class="mb-1">{{ message.name }}</h6>
                  <p class="text-gray-500 dark:text-dark-500">{{ message.message }}</p>
                </div>
                <div class="self-end ml-3 text-gray-500 dark:text-dark-500 shrink-0">{{ message.time }}</div>
              </div>
            </ng-container>
          </div>
        </ngx-simplebar>
      </div>

      <div class="flex items-center gap-2 pt-0 card-body">
        <label for="sendMessage" class="hidden">sendMessage</label>
        <input type="text" id="sendMessage" class="form-input" placeholder="Type something ..." [(ngModel)]="newMessage"
          (keydown.enter)="sendMessage()" />
        <button title="send btn" class="btn btn-primary btn-icon shrink-0" (click)="sendMessage()">
          <lucide-angular name="send-horizontal" class="size-4"></lucide-angular>
        </button>
      </div>
    </div>
  </div>
</div>
